fastapi
uvicorn
gunicorn
pandas
numpy
scikit-learn
python-multipart
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
groq
openai
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
openpyxl
python-pptx
reportlab
pydantic[email]
httptools
uvloop
groq>=0.13.0
openai>=1.61.0
